<!DOCTYPE html>
<html>
<body>

<h2>Marks submission form</h2>
<form action="/submit" method='post'>
    <label for = "science">science:</label><br>
    <input type = "text" id = "science" name = "science" value = "0"><br>
    <label for = "maths">maths:</label><br>
    <input type = "text"  id = "maths" name ="maths" value = "0"><br>
    <label for = "python" >python:</label><br>
    <input type = "text" id = "python" name ="python" value = '0'><br>
    <label for = "java">java:</label><br>
    <input type = "text" id = "java"  name = "java" value = 0><br>
    <label for = "statistics" >statistics:</label><br>
    <input type = "text" id = "statistics" name = "statistics" value =0><br>
    <input type = "submit" value = "submit">
</form>
<p>If you click the "Submit" button, the form-data will be sent to a page called "/submit".</p>
</body>
</html>